# Environment variables template for CloudScale local development
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.

# Postgres Airflow Metadata DB
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# GCP Config (Optional for local mock, required for GCP deployment)
GCP_PROJECT_ID=cloudscale-dev
GCS_RAW_BUCKET=cloudscale-raw-dev
GCS_SILVER_BUCKET=cloudscale-silver-dev
GCS_DEADLETTER_BUCKET=cloudscale-deadletter-dev
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/config/sa-key.json
