# Development & Data Generation
faker>=33.0.0
pytest>=8.0.0
black>=24.0.0
flake8>=7.0.0

# Ingestion & Warehouse Connectors
google-cloud-storage>=2.14.0
google-cloud-bigquery>=3.17.0
duckdb>=0.10.0
pyarrow>=15.0.0
pandas>=2.2.0

# Orchestration & Transformations
pyspark==3.5.1
dbt-core>=1.11,<1.12
dbt-bigquery>=1.10,<1.11
dbt-duckdb>=1.10,<1.11
